@font-face {
    font-family: "pixel" ;
    src: url(./../fonts/Symtext.ttf);
}

:root {
    --color-primary: rgba(88, 250, 59, 1);
}

/* ########################## Navbar ########################## */

/* ########################## Navbar - END ########################## */

/* ########################## Hero ########################## */

.background-hero{
    background: url(./../img/PANTALLA_L2.jpg); 
    background-size: cover;
    background-position: center;
}

iframe {
    border-radius: 20px;
}

/* ########################## Hero - END ########################## */

/* ########################## Documentation ########################## */

#documentacion-header {
    border-bottom: 2px solid #AAAAAA;
}
.tab-content {
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
}
.tab-pane p {
    text-indent: 2em;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}
.tab-pane a, .tab-pane a:visited, .tab-pane a:hover, .tab-pane a:active{
    color: var(--color-primary);
}

.nav .active {
    background-color: var(--color-primary)!important;
}
.nav-item {
    margin: 0px 6px;
}

/* ########################## Documentation - END ########################## */

/* ########################## Downloads ########################## */

.container-downloads{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.col{
    padding-top: 5rem;
}

.downloads-bg{
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
    background: 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
} 

.downloads{
    background-image: linear-gradient(to right, #050707 10%, #43134d 31%, #000000 100%);
    border: #000000 solid 5px;
    
}  


/* ########################## Downloads - END ########################## */