@font-face {
    font-family: "pixel" ;
    src: url(./../fonts/Symtext.ttf);
}



.background-hero{
    background: url(./../img/PANTALLA_L2.jpg); 
    background-size: cover;
    background-position: center;
}

iframe {
    border-radius: 20px;
}

