@font-face {
    font-family: "pixel" ;
    src: url(./../fonts/Symtext.ttf);
}

:root {
    --color-primary: rgba(88, 250, 59, 1);
}

/* ########################## Navbar ########################## */



/* ########################## Navbar - END ########################## */

/* ########################## Hero ########################## */

.background-hero{
    background: url(./../img/PANTALLA_L2.jpg); 
    background-size: cover;
    background-position: center;
}

iframe {
    border-radius: 20px;
    user-select: none;
}

/* ########################## Hero - END ########################## */

/* ########################## Documentation ########################## */

#documentacion-header {
    border-bottom: 2px solid #AAAAAA;
}
/* .tab-content {
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
} */
.tab-pane p {
    text-indent: 2em;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}
.tab-pane a, .tab-pane a:visited, .tab-pane a:hover, .tab-pane a:active{
    color: var(--color-primary);
}

.nav .active {
    background-color: var(--color-primary)!important;
}
.nav-item {
    margin: 0px 6px;
}

/* ########################## Documentation - END ########################## */

/* ########################## Downloads ########################## */



.col{
    padding-top: 5rem;
}

.downloads{
    border-bottom: 2px solid #AAAAAA;
}  

/* ########################## Downloads - END ########################## */
@keyframes walk {
    from {left: 0;}
    to{left: 90%;}
}
@keyframes steps {
    from {transform: rotate(-20deg);}
    to{transform: rotate(20deg);}
}
@keyframes spin {
    form {transform: rotate(0deg);}
    to  {transform: rotate(360deg);}
}




.scratch-container {
    position: relative;
}

#scratch-img {
    left: 0;
    position: absolute;
    top: 10px;
    animation: walk 4s ease-in-out alternate infinite, steps 0.2s linear alternate infinite;
}


@media (max-width: 768px) {
    #scratch-img {
        left: 90%;
        animation: spin 1s linear infinite;
    }
}


/* Footer */
footer {
    background-image: linear-gradient(to bottom, #252525 10%, black 100%);
}

.footer-link {
    border-bottom: 1px solid #AAAAAA;
}
.footer-link, .footer-link:visited, .footer-link:hover, .footer-link:active{
    text-decoration: none !important;
    color: #AAAAAA !important;
}